@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

* {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 200;
}
.mainTitle{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:"wdth" 200; 
}

.main {

    background-image: url('/1.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    height: 100vh;
    /* Full viewport height */
}

.customerMenu {

    max-width: 500px;

    height: 80px;
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    transform: translateY(-80px);
    /* Move up by 150px */
}

.buttonMenu {
    border-radius: 20px;
}
.aboutImg{
    max-width: 470px;
}
.active {
    color: #000000; /* Change this to your desired color */
  }

  .dog{
    max-height: 480px;
  }

  @media (max-width: 640px) {
    .customerMenu {
      font-size: 14px; /* Μειώνεις το μέγεθος της γραμματοσειράς για μικρές συσκευές */
      padding-top: 110px; /* Μειώνεις το padding αν χρειάζεται */
    }
  }
  